<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
        <img class="navbar-brand" src="34614-go.gif" alt="brand" width="40">
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a routerLink="dashboard" class="nav-link">home</a>
                </li>
                <li class="nav-item">
                    <a routerLink="catch" class="nav-link">catch</a>
                </li>
            </ul>
        </div>
    </div>
</nav>