spring:
  application:
    name: gateway
  output:
    ansi:
      enabled: always
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: client1
              uri: lb://eureka-client-1
              predicates:
                - Path=/client1/**
              filters:
                - StripPrefix=1
            - id: client2
              uri: lb://client2
              predicates:
                - Path=/client2/**
              filters:
                - StripPrefix=1

server:
  port: 8080

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true