spring:
  application:
    name: client2
  output:
    ansi:
      enabled: always

server:
  port: 8082

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true